# Dependency directories
node_modules/
.DS_Store
.vscode

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# generate output
dist

# Local development
package-lock.json
/src/generated/prisma

test-key.js

